

<main>

    <div class="d-flex flex-row align-content-center align-items-center mt-5">
        <div class="w-50 h-100 d-flex justify-content-center align-content-center ">
            <img ID="Ufficio" src="~/Content/Assets/postOffice.png" class="rounded-circle" />
        </div>
        <div class="bg-success bg-opacity-25 rounded me-3 p-4 text-success">
            <h3>Our offices</h3>
            <h5>Where can you find us?</h5>
            <h6>We are all over the country offering exceptional services!</h6>
            <h6>We have one office in the top 30 major cities in Italy, and expanding.</h6>
            <h6>We are open all day, every day, for our customers! </h6>
        </div>
    </div>

    <div class="d-flex flex-row align-content-center align-items-center ps-5 mt-5">
        <div class="bg-success bg-opacity-25 rounded me-3 p-4 text-success">
            <h3>The people</h3>
            <h6>All our staff is trained for a minimum of 120 hours, and runs a 30-day trial before start.</h6>
            <h6>All our staff is customer service oriented, with a clear goal to deliver your package faster than the speed of light!</h6>
            <h6>Our aim is to ensure inclusion, diversity, equality for all our staff and, most importantly, our customers.</h6>
        </div>
        <div class="w-50 h-100 d-flex justify-content-center align-content-center ">
            <img ID="Ufficio" src="~/Content/Assets/smilingWoman.jpg" class="rounded w-50 h-100" />
        </div>
    </div>

    <div class="d-flex flex-row align-content-center align-items-center mt-5 mb-5">
        <div class=" w-50 d-flex justify-content-center align-content-center">
            <img ID="Ufficio" src="~/Content/Assets/Counter.png" class="rounded w-50 h-100" />
        </div>
        <div class="bg-success bg-opacity-25 rounded me-3 p-4 text-success">
            <h3>How it works</h3>
            <h6>Each of our offices has a set of computers where you can procceed with your packaging information, and the print the lable.</h6>
            <h6>You can also do this at home using our online service. </h6>
            <h6>If you wish, you can purchase the envelopes or boxes at our office.</h6>
            <h6>Proceed to one of our counters where our staff will help finalize and prepare the itme to be sent.</h6>
            <h6>Delivery time depends on the type of package and the package content.</h6>
        </div>
    </div>

    <br />
    <br />


</main>